
!**/src/main/**/bin/
!**/src/main/**/build/
!**/src/main/**/out/
!**/src/test/**/bin/
!**/src/test/**/build/
!**/src/test/**/out/
!gradle/wrapper/gradle-wrapper.jar
### Eclipse ###
### IntelliJ IDEA ###
### Mac OS ###
### NetBeans ###
### VS Code ###
*.iml
*.ipr
*.iws
.DS_Store.idea/
.apt_generated
.classpath
.factorypath
.gradle
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/modules.xml
.idea/vcs.xml
.project
.settings
.springBeans
.sts4-cache
.vscode/
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
bin/
build/
out/
